<form action="/cates/save-add" method="post">

    <div>
        <label for="">Tên danh mục</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="">Ảnh danh mục</label>
        <input type="text" name="image">
    </div>
    <div>
        <label for="">Mô tả</label>
        <textarea name="description" id="" cols="30" rows="5"></textarea>
    </div>
    <div>
        <button type="submit">Lưu</button>
        <a href="/cates">Hủy</a>
    </div>

</form>
